@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(61, 67, 169);
    color: #000;
    background: url(./img/questions.jpg) no-repeat center center/ cover;
}

.accordion {
    width: 65%;;
    background-color: #fff;
    padding: 32px;
    border-radius: 32px;
}

.accordion .accordion-title {
    margin-bottom: 32px;
    text-align: center;
}

.accordion .content-container .question {
    padding: 16px 0;
    font-size: 22px;
    cursor: pointer;
    border-bottom: solid 1px #000;
    position: relative;
}

.accordion .content-container .question::after {
    content: "+";
    position: absolute;
    right: -8px;
}

.accordion .content-container .answer {
    padding-top: 16px;
    font-size: 22px;
    line-height: 1.5;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: 0.5s;
}

footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 16px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.615);
    padding: 4px 8px;
    border-radius: 8px;
}

#github-name {
    font-weight: bold;
    color: #fff;
}